.hero {
    background: rgba(242, 244, 247, 1);
    height: 900px;
    margin: 0;
    padding: 0 108px 0 108px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        "text image"
        "form image"
        ". image";
    align-items: start;
    gap: 0;
    overflow: hidden;
}

.hero-text {
    grid-area: text;
    align-self: end;
    width: 600px;
    margin-top: 160px;
    gap: 24px;
}

.hero-text h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero-text span {
    color: rgba(45, 102, 238, 1);
}

.hero-text p {
    font-family: "SF-Pro-Text";
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.hero-form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    width: 676px;
    height: 186px;
    margin-top: 46px;
    gap: 32px;
    border-radius: 12px;
    padding: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 
                0px 0px 2px 0px rgba(0, 0, 0, 0.08);
}

.hero-form h5 {
    width: 600px;
    margin: 0;
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: rgba(16, 24, 40, 1);
}

.hero-form form {
    display: flex;
    flex-direction: row;
    width: 628px; 
    height: 58px;
    gap: 24px;
}

.form-group {
    width: 224px;
    height: 54px;
    gap: 8px;
    font-family: "SF-Pro-Text";
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: rgba(102, 112, 133, 1);
    font-size: 13px;
    line-height: 16px;
}

.form-group input {
    height: 38px;
    color: rgba(16, 24, 40, 1);
    font-family: "SF-Pro-Text";
    font-weight: 400;
    border: none;
    border-bottom: 0.7px solid rgba(208, 213, 221, 1);
    padding: 0;
}

.hero-form-button {
    text-align: left;
    width: 132px;
    height: 58px;
    gap: 8px;
    border-radius: 8px;
    padding: 11px 24px;
    background: rgba(45, 102, 238, 1);
    font-family: "SF-Pro-Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.group-extended {
    display: none;
}

.group-more-extended {
    display: none;
}

.animated-images {
    grid-area: image;
    display: flex;
    align-self: center;
    justify-self: end;
    transform: rotate(-13deg);
}

.scroll-up, .scroll-down {
    overflow: hidden;
    height: 900px;
}

.scroll-up {
    margin-right: -70px;
}

.scrolling-content {
    animation: scroll 10s linear infinite;
}

.scroll-up .scrolling-content {
    animation-direction: normal;
}

.scroll-down .scrolling-content {
    animation-direction: reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 768px) {

    .hero {
        max-width: 768px;
        height: 762px;
        padding: 0 32px;
        grid-template-columns: 1fr;
    }

    .hero-text {
        width: 383px;
        height: 204px;
        gap: 24px;
        margin-top: 138px;
        margin-left: 0;
    }

    .hero-text h2 {
        font-size: 28px;
        line-height: 144%;
        letter-spacing: 0.33px;
    }

    .hero-form {
        width: 322px;
        height: 296px;
        border-radius: 12px;
        gap: 32px;
        padding: 32px;
        margin-top: 32px;
        margin-left: 0;
    }
    
    .hero-form h5{
        font-size: 16px;
        width: 295px;
    }

    .hero-form form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    .hero-form-button {
        width: 155px;
        height: 40px;
        margin-top: 16px;
        text-align: center;
        white-space: nowrap;
    }

    .group-more-extended {
        display: none;
    }

    .group-extended {
        display: none;
    }

    .animated-images {
        margin-left: -20px;
        transform: rotate(-13deg) scale(0.6);
    }

    .scroll-up, .scroll-down {
        height: 1500px;
    }

    .scroll-up {
        margin-right: -70px;
        margin-left: -140px;
    }
}

@media screen and (max-width: 425px) {
    
    .hero {
        max-width: 425px;
        height: 1267px;
        padding: 0 0 0 16px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "text"
            "image"
            "form";
        gap: 32px;
        justify-items: start;
    }

    .hero-text {
        margin-top: 118px;
    }

    .group-extended {
        display: none;
    }

    .group-more-extended {
        display: none;
    }

    .hero-form {
        grid-area: form;
        margin-top: -1000px;
        z-index: 2;
        width: 342px;
    }

    .animated-images {
        display: flex;
        grid-area: image;
        margin-top: -500px;
        z-index: 1;
        margin-left: 0px;
        transform: rotate(-13deg) scale(0.5);
    }

    .scroll-up, .scroll-down {
        height: 2000px;
    }

    .scroll-up {
        margin-right: -70px;
        margin-left: -140px;
    }
}