@import "_fonts";
@import "_header"; 
@import "_footer";
@import "_hero";
@import "_development_cycle";
@import "_projects_industries.scss";

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
}

.site-header,
.hero,
.development-cycle,
.projects-industries,
.projects-proud,
.discuss-project,
.development-stages,
.our-team,
.get-book,
.faq,
.site-footer {
    grid-column: 1;
}