.projects-proud{
    background: rgba(242, 244, 247, 1);
    height: auto;
    padding: 80px 108px;
}

.projects-header h2,
.project-card h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 28px;
}

.header-description-desktop{
    font-family: "SF-Pro-Text";
    font-weight: 500;
    font-size: 15px;
}

.header-description-mobile{
    display: none;
}

.project-title{
    font-family: "SF-Pro-Text";
    font-weight: 400;
    font-size: 17px;
    padding-left: 33px;
}

.project-title a{
    text-decoration: none;
    color: rgba(29, 41, 57, 1);
}

.project-title a:hover {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgba(45, 102, 238, 1);
}

.projects-list{
    display: flex;
    flex-flow: row;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.projects-list-container {
    grid-area: list-button;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "list-button list-button"
        "card image";
    align-items: start;
    gap: 20px;
}

.project-card {
    grid-area: card;
}

.project-image {
    grid-area: image;
    width: 600px;
    height: 326px;
}

.view-more-btn {
    width: 207px;
    height: 40px;
    gap: 8px;
    border-radius: 8px;
    padding: 11px 24px;
    background: rgba(45, 102, 238, 1);
    font-family: "SF-Pro-Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 1);
    border: none;
    grid-area: list-button;
    justify-self: end;
    align-self: center;
}

.description-desktop {
    font-family: "SF-Pro-Text";
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
    width: 600px;
}

.categories{
    font-family: "SF-Pro-Text";
    font-weight: 400;
    font-size: 17px;
    color: rgba(71, 84, 103, 1);
    margin-bottom: 30px;
}

.categories span{
    color: rgba(45, 102, 238, 1);;
}

.info{
    display: flex;
    flex-flow: row;
    font-family: "SF-Pro-Text";
    font-weight: 400;
    font-size: 15px;
}

.info-card{
    display: flex;
    flex-flow: row;
    margin-right: 20px;
    align-items: center; 
}

.info-card img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.users{
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;
}

.users-count{
    display: flex;
    flex-flow: column;
    margin-right: 20px;
    align-items: center; 
}

.users-count h5{
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

.users-count p{
    font-family: "SF-Pro-Text";
    font-weight: 400;
    font-size: 13px;
}

.download{
    display: flex;
    flex-flow: row;
}

.download-image{
    margin-right: 20px;
}

.description-tablet {
    display: none;
}

@media screen and (max-width: 768px){
    .projects-proud {
        padding: 32px 32px;
        max-width: 768px;
    }

    .projects-list-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .projects-list {
        margin-bottom: 0;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex: 1;
    }

    .view-more-btn {
        align-self: center;
        margin-left: 20px;
        flex-shrink: 0;
    }

    .projects-header h2,
    .project-card h2 {
        font-size: 28px;
    }

    .projects-header p,
    .categories,
    .project-title,
    .description,
    .info-card p{
        font-size: 14px;
    }

    .users-count h5{
        font-size: 20px;
    }

    .users-count p{
        font-size: 12px;
    }

    .project-image{
        width: 369px;
        height: 225px;
    }

    .project-title{
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .view-more-btn {
        grid-area: image;
        align-self: flex-start;
    }

    .project-image {
        align-self: flex-end;
        grid-template-rows: image;
        margin-left: -70px;
    }

    .description-tablet {
        display: block;
        width: 459px;
        font-family: "SF-Pro-Text";
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 40px;
    }

    .description-desktop {
        display: none;
    }
}

@media screen and (max-width: 425px){

    .projects-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "list-button"
            "image"
            "card"
            "button";
    }

    .projects-proud {
        max-width: 425px;
    }

    .header-description-desktop{
        display: none;
    }

    .header-description-mobile{
        display: block;
        font-family: "SF-Pro-Text";
        font-weight: 500;
        font-size: 15px;
    }

    .projects-list-container{
        width: 390px;

    }

    .project-title{
        padding-left: 0px;
        padding-right: 33px;
    }

    .project-image {
        grid-area: image;
        width: 393px;
        height: 225px;
        justify-self: center;
    }

    .view-more-btn {
        grid-area: button;
        justify-self: center;
    }
}