@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1 {
    font-size: 64px;
    color: #1F3F68;
}

.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3 {
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: linear-gradient(to right, #4d72e5, #7061e8, #8a55e8);
    box-shadow: 5px 20px 50px rgba(86, 113, 131, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100px;
    border: none;
}

.background {
    background-image: url(/src/assets/img/background.jpg);
}

.breadcrumbs {
    list-style: none;
    background: linear-gradient(#f2f6f7, #afcbcc, #6faaaa, #4d8a8f);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    font-size: 16px;
    border-radius: 0px 26px 26px 0px;
    border-right: 3px solid white;
    box-shadow: 4px 0 1px -1px rgba(0, 0, 0, 0.748);
    padding: 16px;
}

.breadcrumbs a {
    text-decoration: none;
    color: black;
}